# Application Configuration
APP_NAME="sms-auth-service"
APP_PORT=3000
APP_MODE=development
GRPC_PORT=3100
ALLOW_ORIGIN="*"
ALLOW_ORIGIN_HEADER="authorization,content-type,x-auth"
ALLOW_ORIGIN_CREDENTIAL=true

# Cookie Configuration
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# OAuth2 Configuration for Keycloak
KEYCLOAK_CLIENT_ID=your-keycloak-client-id
KEYCLOAK_CLIENT_SECRET=your-keycloak-client-secret
KEYCLOAK_ADMIN_CLIENT_ID=your-keycloak-admin-client-id
KEYCLOAK_ADMIN_CLIENT_SECRET=your-keycloak-admin-client-secret
KEYCLOAK_REDIRECT_URL=http://localhost:5500/test.html

# Keycloak Configuration
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=your-realm-name

# JWT Configuration for validating tokens
JWT_SECRET=your-jwt-secret
JWKS_URL="http://localhost:8080/realms/your-realm-name/protocol/openid-connect/certs"
ISSUER=http://localhost:8080/realms/your-realm-name
AUDIENCE=your-audience
ALLOWED_ALGS="RS256"

# Redis Configuration
REDIS_ADDRESS=redis://:redis@my-redis:6379

# MinIO Configuration
MINIO_END_POINT=minio.your-domain.com
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SSL=true
MINIO_REGION=ap-southeast-1

# Database Configuration
PSQL_DATABASE_URL=postgres://postgres:postgres@psql_db:5432/db?sslmode=disable

# Sentry Configuration
SENTRY_DSN=



