openapi: 3.0.3
info:
  title: Data Management Service (DMS) API - v1
  version: 1.0.0
  description: |
    EN: Central DMS API for source introspection, dataset catalog, dataset version contracts,
    serving dynamic dataset data, direct table data CRUD, and reporting import/export jobs.

    TH: API กลางของ DMS สำหรับตรวจสอบแหล่งข้อมูล, จัดการ catalog ของ dataset,
    จัดการ contract/version ของ dataset, ให้บริการข้อมูลแบบ dynamic, CRUD ข้อมูลตารางโดยตรง,
    และงาน import/export report.
servers:
  - url: https://dms.company.com/api/v1
    description: 'EN: Production / TH: สภาพแวดล้อม production'
  - url: http://localhost:3200/api/v1
    description: 'EN: Local Dev / TH: สภาพแวดล้อมพัฒนาในเครื่อง'
security:
  - bearerAuth: []
tags:
  - name: Health
  - name: Introspection
  - name: Catalog
  - name: Contracts
  - name: Serving
  - name: Reporting
paths:
  /health-check:
    get:
      tags:
        - Health
      summary: 'EN: Health probe / TH: ตรวจสอบสถานะระบบ'
      responses:
        '200':
          description: 'EN: OK / TH: ระบบพร้อมใช้งาน'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /introspect/sources:
    get:
      tags:
        - Introspection
      summary: 'EN: List registered physical sources / TH: ดูรายการแหล่งข้อมูลที่ลงทะเบียน'
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number for pagination / TH: เลขหน้าสำหรับแบ่งหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Number of items per page / TH: จำนวนรายการต่อหน้า'
      responses:
        '200':
          description: 'EN: List of sources with pagination / TH: รายการแหล่งข้อมูลพร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SourcesResponseDTO'
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Introspection
      summary: 'EN: Create a new data source / TH: สร้างแหล่งข้อมูลใหม่'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcesDTO'
      responses:
        '200':
          description: 'EN: Source created successfully / TH: สร้างแหล่งข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
                  id:
                    type: string
                    format: uuid
                    description: 'EN: Created source ID / TH: รหัสแหล่งข้อมูลที่สร้าง'
        '400':
          description: 'EN: Bad request - validation error / TH: คำขอไม่ถูกต้อง - ข้อมูลไม่ผ่าน validation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 'EN: Conflict - source already exists / TH: ข้อมูลซ้ำ - มีแหล่งข้อมูลนี้อยู่แล้ว'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/sources/{id}:
    get:
      tags:
        - Introspection
      summary: 'EN: Get a data source by ID / TH: ดูรายละเอียดแหล่งข้อมูลตาม ID'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
      responses:
        '200':
          description: 'EN: Source detail / TH: รายละเอียดแหล่งข้อมูล'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SourcesResponseDTO'
        '400':
          description: 'EN: Invalid source ID / TH: รหัสแหล่งข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Source not found / TH: ไม่พบแหล่งข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Introspection
      summary: 'EN: Update a data source / TH: แก้ไขแหล่งข้อมูล'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSourcesDTO'
      responses:
        '200':
          description: 'EN: Source updated successfully / TH: แก้ไขแหล่งข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
                  id:
                    type: string
                    format: uuid
        '400':
          description: 'EN: Validation error / TH: ข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Source not found / TH: ไม่พบแหล่งข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Introspection
      summary: 'EN: Delete a data source / TH: ลบแหล่งข้อมูล'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
      responses:
        '200':
          description: 'EN: Source deleted successfully / TH: ลบแหล่งข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Invalid source ID / TH: รหัสแหล่งข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Source not found / TH: ไม่พบแหล่งข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/sources/{id}/activate:
    patch:
      tags:
        - Introspection
      summary: 'EN: Activate a data source / TH: เปิดใช้งานแหล่งข้อมูล'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
      responses:
        '200':
          description: 'EN: Source activated successfully / TH: เปิดใช้งานแหล่งข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Invalid source ID / TH: รหัสแหล่งข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Source not found / TH: ไม่พบแหล่งข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/sources/{id}/deactivate:
    patch:
      tags:
        - Introspection
      summary: 'EN: Deactivate a data source / TH: ปิดใช้งานแหล่งข้อมูล'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
      responses:
        '200':
          description: 'EN: Source deactivated successfully / TH: ปิดใช้งานแหล่งข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Invalid source ID / TH: รหัสแหล่งข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Source not found / TH: ไม่พบแหล่งข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/schemas:
    get:
      tags:
        - Introspection
      summary: 'EN: List schemas in a source / TH: ดูรายการ schema ในแหล่งข้อมูล'
      parameters:
        - name: source_id
          in: query
          schema:
            type: string
            format: uuid
          description: 'EN: Filter by source ID / TH: กรองด้วยรหัสแหล่งข้อมูล'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number for pagination / TH: เลขหน้าสำหรับแบ่งหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Number of items per page / TH: จำนวนรายการต่อหน้า'
      responses:
        '200':
          description: 'EN: List of schemas with pagination / TH: รายการ schema พร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Schemas'
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/tables:
    get:
      tags:
        - Introspection
      summary: 'EN: List tables in a schema / TH: ดูรายการตารางใน schema'
      parameters:
        - name: source_id
          in: query
          schema:
            type: string
            format: uuid
          description: 'EN: Filter by source ID / TH: กรองด้วยรหัสแหล่งข้อมูล'
        - name: schema
          in: query
          schema:
            type: string
          description: 'EN: Filter by schema name / TH: กรองด้วยชื่อ schema'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number for pagination / TH: เลขหน้าสำหรับแบ่งหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Number of items per page / TH: จำนวนรายการต่อหน้า'
      responses:
        '200':
          description: 'EN: List of tables with pagination / TH: รายการตารางพร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tables'
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/columns:
    get:
      tags:
        - Introspection
      summary: 'EN: List columns for a table / TH: ดูรายการคอลัมน์ของตาราง'
      parameters:
        - name: source_id
          in: query
          schema:
            type: string
            format: uuid
          description: 'EN: Filter by source ID / TH: กรองด้วยรหัสแหล่งข้อมูล'
        - name: schema
          in: query
          schema:
            type: string
          description: 'EN: Filter by schema name / TH: กรองด้วยชื่อ schema'
        - name: table
          in: query
          schema:
            type: string
          description: 'EN: Filter by table name / TH: กรองด้วยชื่อตาราง'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number for pagination / TH: เลขหน้าสำหรับแบ่งหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Number of items per page / TH: จำนวนรายการต่อหน้า'
      responses:
        '200':
          description: 'EN: List of columns with pagination / TH: รายการคอลัมน์พร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Columns'
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/sources/{id}/schemas/{schema}/tables/{table}/data:
    get:
      tags:
        - Introspection
      summary: 'EN: List rows from a physical table / TH: ดึงรายการข้อมูลจากตารางจริง'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        - name: schema
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number / TH: เลขหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Items per page / TH: จำนวนรายการต่อหน้า'
        - name: where
          in: query
          schema:
            type: string
          description: 'EN: JSON filter groups / TH: เงื่อนไขกรองแบบ JSON'
        - name: where_logical_operator
          in: query
          schema:
            type: string
            enum:
              - AND
              - OR
              - and
              - or
          description: 'EN: Logical operator between filter groups / TH: ตัวเชื่อมเงื่อนไขระหว่างกลุ่ม'
        - name: sort_by
          in: query
          schema:
            type: string
          description: 'EN: Column to sort by / TH: คอลัมน์ที่ใช้เรียงลำดับ'
        - name: sort_order
          in: query
          schema:
            type: string
            enum:
              - ASC
              - DESC
              - asc
              - desc
          description: 'EN: Sort order / TH: ทิศทางการเรียงลำดับ'
      responses:
        '200':
          description: 'EN: Table rows with pagination / TH: ข้อมูลตารางพร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Source, schema, or table not found / TH: ไม่พบแหล่งข้อมูล, schema, หรือตาราง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Introspection
      summary: 'EN: Create a row in a physical table / TH: เพิ่มข้อมูลในตารางจริง'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        - name: schema
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 'EN: Row data / TH: ข้อมูลแถวที่ต้องการเพิ่ม'
      responses:
        '201':
          description: 'EN: Row created successfully / TH: เพิ่มข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /introspect/sources/{id}/schemas/{schema}/tables/{table}/data/key/{key}:
    get:
      tags:
        - Introspection
      summary: 'EN: Get a physical table row by key / TH: ดึงข้อมูลแถวจากตารางจริงด้วย key'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        - name: schema
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Row key value / TH: ค่า key ของแถว'
        - name: key_field
          in: query
          schema:
            type: string
            default: id
          description: 'EN: Column used as key / TH: คอลัมน์ที่ใช้เป็น key'
      responses:
        '200':
          description: 'EN: Row data / TH: ข้อมูลแถว'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Row not found / TH: ไม่พบข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Introspection
      summary: 'EN: Update a physical table row by key / TH: แก้ไขข้อมูลแถวในตารางจริงด้วย key'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        - name: schema
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Row key value / TH: ค่า key ของแถว'
        - name: key_field
          in: query
          schema:
            type: string
            default: id
          description: 'EN: Column used as key / TH: คอลัมน์ที่ใช้เป็น key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: 'EN: Row updated successfully / TH: แก้ไขข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Row not found / TH: ไม่พบข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Introspection
      summary: 'EN: Delete a physical table row by key / TH: ลบข้อมูลแถวในตารางจริงด้วย key'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        - name: schema
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Row key value / TH: ค่า key ของแถว'
        - name: key_field
          in: query
          schema:
            type: string
            default: id
          description: 'EN: Column used as key / TH: คอลัมน์ที่ใช้เป็น key'
      responses:
        '200':
          description: 'EN: Row deleted successfully / TH: ลบข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Row not found / TH: ไม่พบข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets:
    get:
      tags:
        - Catalog
      summary: 'EN: Search datasets / TH: ค้นหา dataset'
      parameters:
        - $ref: '#/components/parameters/SearchWord'
        - $ref: '#/components/parameters/Domain'
        - $ref: '#/components/parameters/Tag'
        - $ref: '#/components/parameters/HasPII'
        - $ref: '#/components/parameters/Owner'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/SortOrder'
      responses:
        '200':
          description: 'EN: List of datasets / TH: รายการ dataset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Catalog
      summary: 'EN: Create or update a dataset / TH: สร้างหรือแก้ไข dataset'
      requestBody:
        required: true
        description: 'EN: Dataset ID must contain only lowercase English letters, underscore, and hyphen without spaces / TH: รหัส dataset ต้องมีเฉพาะตัวอักษรอังกฤษพิมพ์เล็ก underscore และ hyphen โดยไม่มีช่องว่าง'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetUpsert'
      responses:
        '200':
          description: 'EN: Created or updated successfully / TH: สร้างหรือแก้ไขสำเร็จ'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets/{id}:
    get:
      tags:
        - Catalog
      summary: 'EN: Get dataset detail / TH: ดูรายละเอียด dataset'
      parameters:
        - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: 'EN: Dataset detail / TH: รายละเอียด dataset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDetail'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Not found / TH: ไม่พบข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Catalog
      summary: 'EN: Delete dataset by ID / TH: ลบ dataset ตาม ID'
      parameters:
        - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: 'EN: Dataset deleted successfully / TH: ลบ dataset สำเร็จ'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Not found / TH: ไม่พบข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'EN: Internal server error / TH: ระบบเกิดข้อผิดพลาด'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets/{id}/versions:
    get:
      tags:
        - Contracts
      summary: 'EN: Get list of dataset versions (contracts) / TH: ดูรายการ version ของ dataset (contract)'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number for pagination / TH: เลขหน้าสำหรับแบ่งหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Number of items per page / TH: จำนวนรายการต่อหน้า'
        - name: source_id
          in: query
          schema:
            type: string
            format: uuid
          description: 'EN: Filter by source ID / TH: กรองด้วยรหัสแหล่งข้อมูล'
        - name: search_word
          in: query
          schema:
            type: string
          description: 'EN: Search term / TH: คำค้นหา'
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - preview
              - deprecated
          description: 'EN: Filter by status / TH: กรองด้วยสถานะ'
      responses:
        '200':
          description: 'EN: List of dataset versions with pagination / TH: รายการ version ของ dataset พร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatasetVersion'
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset not found / TH: ไม่พบ dataset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Contracts
      summary: 'EN: Create a new dataset version (contract) / TH: สร้าง version ใหม่ของ dataset (contract)'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertDatasetVersionDTO'
      responses:
        '200':
          description: 'EN: Dataset version created successfully / TH: สร้าง version ของ dataset สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Bad request - validation error / TH: คำขอไม่ถูกต้อง - ข้อมูลไม่ผ่าน validation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset not found / TH: ไม่พบ dataset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 'EN: Version already exists / TH: มี version นี้อยู่แล้ว'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets/{id}/versions/{version}:
    get:
      tags:
        - Contracts
      summary: 'EN: Get dataset version by ID (contract details) / TH: ดูรายละเอียด version ของ dataset ตาม ID'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Version name/number / TH: ชื่อหรือเลข version'
      responses:
        '200':
          description: 'EN: Dataset version details / TH: รายละเอียด version ของ dataset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DatasetVersion'
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset or version not found / TH: ไม่พบ dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Contracts
      summary: 'EN: Update dataset version (contract) / TH: แก้ไข version ของ dataset (contract)'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Version name/number / TH: ชื่อหรือเลข version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetVersionDTO'
      responses:
        '200':
          description: 'EN: Dataset version updated successfully / TH: แก้ไข version ของ dataset สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Bad request - validation error / TH: คำขอไม่ถูกต้อง - ข้อมูลไม่ผ่าน validation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset or version not found / TH: ไม่พบ dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Contracts
      summary: 'EN: Update dataset version status / TH: แก้ไขสถานะ version ของ dataset'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Version name/number / TH: ชื่อหรือเลข version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetVersionStatusDTO'
      responses:
        '200':
          description: 'EN: Dataset version status updated successfully / TH: แก้ไขสถานะ version ของ dataset สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Bad request - validation error / TH: คำขอไม่ถูกต้อง - ข้อมูลไม่ผ่าน validation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset or version not found / TH: ไม่พบ dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets/{id}/versions/{version}/data:
    get:
      tags:
        - Serving
      summary: 'EN: List rows from a dataset version (policy-aware, dynamic) / TH: ดูรายการข้อมูลจาก version ของ dataset ตาม policy'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset version / TH: version ของ dataset'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 'EN: Page number for pagination / TH: เลขหน้าสำหรับแบ่งหน้า'
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: 'EN: Number of items per page / TH: จำนวนรายการต่อหน้า'
        - name: view
          in: query
          schema:
            type: string
          description: 'EN: View name to use for data access / TH: ชื่อ view ที่ใช้เข้าถึงข้อมูล'
        - name: where
          in: query
          schema:
            type: string
          description: 'EN: JSON string for filter conditions (array of filter groups) / TH: เงื่อนไขกรองรูปแบบ JSON เป็นกลุ่ม filter'
          examples:
            single_condition:
              summary: 'EN: Filter by one field / TH: กรองด้วย field เดียว'
              value: '[[{"table_name":"students","field":"status","operator":"=","value":"active"}]]'
            multiple_groups:
              summary: 'EN: Multiple filter groups / TH: filter หลายกลุ่ม'
              value: '[[{"table_name":"students","field":"grade","operator":"IN","value":["M1","M2"]}],[{"table_name":"students","field":"name","operator":"LIKE","value":"%somchai%"}]]'
        - name: where_logical_operator
          in: query
          schema:
            type: string
            enum:
              - AND
              - OR
              - and
              - or
            default: AND
          description: 'EN: Logical operator between filter groups / TH: ตัวเชื่อมเงื่อนไขระหว่างกลุ่ม filter'
        - name: sort_by
          in: query
          schema:
            type: string
          description: 'EN: Column name to sort by / TH: ชื่อคอลัมน์ที่ใช้เรียงลำดับ'
        - name: sort_order
          in: query
          schema:
            type: string
            enum:
              - ASC
              - DESC
              - asc
              - desc
            default: ASC
          description: 'EN: Sort order / TH: ทิศทางการเรียงลำดับ'
      responses:
        '200':
          description: 'EN: Dataset rows with pagination / TH: ข้อมูล dataset พร้อม pagination'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  page:
                    type: integer
                  per_page:
                    type: integer
                  total_pages:
                    type: integer
                  total_rows:
                    type: integer
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'EN: Forbidden / TH: ไม่มีสิทธิ์เข้าถึง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset or version not found / TH: ไม่พบ dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Serving
      summary: 'EN: Create a new row in dataset version / TH: เพิ่มข้อมูลใหม่ใน version ของ dataset'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset version / TH: version ของ dataset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 'EN: Row data to be created / TH: ข้อมูลแถวที่ต้องการเพิ่ม'
      responses:
        '201':
          description: 'EN: Row created successfully / TH: เพิ่มข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'EN: Forbidden / TH: ไม่มีสิทธิ์เข้าถึง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Dataset or version not found / TH: ไม่พบ dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 'EN: Conflict - duplicate key or constraint violation / TH: ข้อมูลซ้ำหรือผิด constraint'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /datasets/{id}/versions/{version}/data/key/{key}:
    get:
      tags:
        - Serving
      summary: 'EN: Get a row by key from dataset version (policy-aware) / TH: ดึงข้อมูลแถวด้วย key จาก version ของ dataset ตาม policy'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset version / TH: version ของ dataset'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Row key / TH: key ของแถวข้อมูล'
        - name: view
          in: query
          schema:
            type: string
          description: 'EN: View name to use for data access / TH: ชื่อ view ที่ใช้เข้าถึงข้อมูล'
      responses:
        '200':
          description: 'EN: Row data / TH: ข้อมูลแถว'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'EN: Forbidden / TH: ไม่มีสิทธิ์เข้าถึง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Row, dataset, or version not found / TH: ไม่พบข้อมูลแถว dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Serving
      summary: 'EN: Update a row by key (replace all fields) / TH: แก้ไขข้อมูลแถวด้วย key'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset version / TH: version ของ dataset'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Row key / TH: key ของแถวข้อมูล'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: 'EN: Complete row data for replacement / TH: ข้อมูลแถวทั้งหมดสำหรับแทนที่'
      responses:
        '200':
          description: 'EN: Row updated successfully / TH: แก้ไขข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    additionalProperties: true
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'EN: Forbidden / TH: ไม่มีสิทธิ์เข้าถึง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Row, dataset, or version not found / TH: ไม่พบข้อมูลแถว dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Serving
      summary: 'EN: Delete a row by key (soft delete) / TH: ลบข้อมูลแถวด้วย key'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset version / TH: version ของ dataset'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Row key / TH: key ของแถวข้อมูล'
      responses:
        '200':
          description: 'EN: Row deleted successfully / TH: ลบข้อมูลสำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'EN: Unauthorized / TH: ไม่ได้รับอนุญาต'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 'EN: Forbidden / TH: ไม่มีสิทธิ์เข้าถึง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Row, dataset, or version not found / TH: ไม่พบข้อมูลแถว dataset หรือ version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/export/job:
    post:
      tags:
        - Reporting
      summary: 'EN: Create dataset export job / TH: สร้างงาน export dataset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportJobCreate'
      responses:
        '200':
          description: 'EN: Export job created / TH: สร้างงาน export สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: 'EN: Export job ID / TH: รหัสงาน export'
        '400':
          description: 'EN: Validation error / TH: ข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/export/job/{job_id}:
    get:
      tags:
        - Reporting
      summary: 'EN: Get dataset export job by ID / TH: ดูข้อมูลงาน export dataset ตาม ID'
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Export job ID / TH: รหัสงาน export'
      responses:
        '200':
          description: 'EN: Export job detail / TH: รายละเอียดงาน export'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExportJobStatus'
        '400':
          description: 'EN: Invalid job ID / TH: รหัสงานไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Export job not found / TH: ไม่พบงาน export'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/import/template:
    post:
      tags:
        - Reporting
      summary: 'EN: Create dataset import template URL / TH: สร้าง URL template สำหรับ import dataset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataset_id:
                  type: string
                  description: 'EN: Dataset ID / TH: รหัส dataset'
                version:
                  type: string
                  description: 'EN: Dataset version / TH: version ของ dataset'
                format:
                  type: string
                  enum:
                    - csv
                    - xlsx
                  description: 'EN: Template format / TH: รูปแบบ template'
              required:
                - dataset_id
                - version
                - format
      responses:
        '200':
          description: 'EN: Template URL created / TH: สร้าง URL template สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: 'EN: Download URL / TH: URL สำหรับดาวน์โหลด'
        '400':
          description: 'EN: Validation error / TH: ข้อมูลไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/import/job:
    post:
      tags:
        - Reporting
      summary: 'EN: Create dataset import job / TH: สร้างงาน import dataset'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'EN: CSV/XLSX file to import / TH: ไฟล์ CSV/XLSX ที่ต้องการ import'
                dataset_id:
                  type: string
                  description: 'EN: Dataset ID / TH: รหัส dataset'
                version:
                  type: string
                  description: 'EN: Dataset version / TH: version ของ dataset'
                format:
                  type: string
                  enum:
                    - csv
                    - xlsx
                  description: 'EN: File format / TH: รูปแบบไฟล์'
              required:
                - file
                - dataset_id
                - version
                - format
      responses:
        '200':
          description: 'EN: Import job created / TH: สร้างงาน import สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: 'EN: Import job ID / TH: รหัสงาน import'
        '400':
          description: 'EN: Bad request / TH: คำขอไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/import/job/{job_id}:
    get:
      tags:
        - Reporting
      summary: 'EN: Get dataset import job by ID / TH: ดูข้อมูลงาน import dataset ตาม ID'
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Import job ID / TH: รหัสงาน import'
      responses:
        '200':
          description: 'EN: Import job detail / TH: รายละเอียดงาน import'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ImportJobStatus'
        '400':
          description: 'EN: Invalid job ID / TH: รหัสงานไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Import job not found / TH: ไม่พบงาน import'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/templates/upload:
    post:
      tags:
        - Reporting
      summary: 'EN: Upload a PDF reporting template / TH: อัปโหลด template PDF สำหรับรายงาน'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'EN: PDF template file / TH: ไฟล์ PDF template'
                params:
                  type: object
                  description: 'EN: Template metadata. Send as params[...] form fields if using multipart. / TH: ข้อมูล template ส่งเป็น params[...] ใน multipart ได้'
                  properties:
                    dataset_id:
                      type: string
                      description: 'EN: Dataset ID / TH: รหัส dataset'
                    name:
                      type: string
                      description: 'EN: Template name / TH: ชื่อ template'
                    view:
                      type: string
                      description: 'EN: Dataset view / TH: view ของ dataset'
                    version:
                      type: string
                      description: 'EN: Dataset version / TH: version ของ dataset'
                    positions:
                      type: array
                      items:
                        type: object
                        properties:
                          table_name:
                            type: string
                          column_name:
                            type: string
                          alias:
                            type: string
                          x:
                            type: number
                          'y':
                            type: number
                  required:
                    - dataset_id
                    - name
                    - view
                    - version
                    - positions
              required:
                - file
                - params
      responses:
        '200':
          description: 'EN: Template uploaded successfully / TH: อัปโหลด template สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: 'EN: Reporting template ID / TH: รหัส reporting template'
                  message:
                    type: string
                    example: success
        '400':
          description: 'EN: Missing params/file or invalid PDF / TH: ไม่มี params/file หรือไฟล์ PDF ไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/templates/{reporting_template_id}/export/key/{key}:
    post:
      tags:
        - Reporting
      summary: 'EN: Create PDF export job from reporting template / TH: สร้างงาน export PDF จาก reporting template'
      parameters:
        - name: reporting_template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Reporting template ID / TH: รหัส reporting template'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'EN: Dataset row key / TH: key ของข้อมูลที่ต้องการออก report'
      responses:
        '200':
          description: 'EN: PDF export job created / TH: สร้างงาน export PDF สำเร็จ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                    description: 'EN: Reporting export job ID / TH: รหัสงาน export report'
        '400':
          description: 'EN: Invalid template ID or key / TH: template ID หรือ key ไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Template or data not found / TH: ไม่พบ template หรือข้อมูล'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/templates/export/job/{job_id}:
    get:
      tags:
        - Reporting
      summary: 'EN: Get PDF reporting export job by ID / TH: ดูข้อมูลงาน export PDF report ตาม ID'
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 'EN: Reporting export job ID / TH: รหัสงาน export report'
      responses:
        '200':
          description: 'EN: Reporting export job detail / TH: รายละเอียดงาน export report'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ReportingExportJobStatus'
        '400':
          description: 'EN: Invalid job ID / TH: รหัสงานไม่ถูกต้อง'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 'EN: Reporting export job not found / TH: ไม่พบงาน export report'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SourcesResponseDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        name:
          type: string
          description: 'EN: Source name / TH: ชื่อแหล่งข้อมูล'
        description:
          type: string
          nullable: true
          description: 'EN: Source description / TH: รายละเอียดแหล่งข้อมูล'
        type:
          type: string
          description: 'EN: Source type / TH: ประเภทแหล่งข้อมูล'
        is_active:
          type: boolean
          description: 'EN: Whether the source is active / TH: ระบุว่าแหล่งข้อมูลเปิดใช้งานอยู่หรือไม่'
        sensitivity:
          type: string
          description: 'EN: Data sensitivity level / TH: ระดับความอ่อนไหวของข้อมูล'
        db_type:
          type: string
          description: 'EN: Database type / TH: ประเภทฐานข้อมูล'
        host:
          type: string
          description: 'EN: Database host / TH: host ของฐานข้อมูล'
        port:
          type: integer
          description: 'EN: Database port / TH: port ของฐานข้อมูล'
        username:
          type: string
          description: 'EN: Database username / TH: username ของฐานข้อมูล'
        database_name:
          type: string
          description: 'EN: Database name / TH: ชื่อฐานข้อมูล'
        params:
          type: string
          nullable: true
          description: 'EN: Additional connection parameters / TH: parameter เพิ่มเติมสำหรับการเชื่อมต่อ'
        created_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Creation timestamp / TH: เวลาที่สร้างข้อมูล'
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Last update timestamp / TH: เวลาที่แก้ไขข้อมูลล่าสุด'
      required:
        - name
        - type
        - is_active
        - sensitivity
        - db_type
        - host
        - port
        - username
        - database_name
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: 'EN: Error code / TH: รหัสข้อผิดพลาด'
            message:
              type: string
              description: 'EN: Error message / TH: ข้อความข้อผิดพลาด'
            details:
              type: object
              additionalProperties: true
              description: 'EN: Additional error details / TH: รายละเอียดข้อผิดพลาดเพิ่มเติม'
      required:
        - error
    SourcesDTO:
      type: object
      properties:
        name:
          type: string
          description: 'EN: Source name / TH: ชื่อแหล่งข้อมูล'
        description:
          type: string
          nullable: true
          description: 'EN: Source description (optional) / TH: รายละเอียดแหล่งข้อมูล (ไม่บังคับ)'
        type:
          type: string
          enum:
            - jdbc
          description: 'EN: Source type / TH: ประเภทแหล่งข้อมูล'
        is_active:
          type: boolean
          description: 'EN: Whether the source is active / TH: ระบุว่าแหล่งข้อมูลเปิดใช้งานอยู่หรือไม่'
        sensitivity:
          type: string
          enum:
            - public
            - internal
            - confidential
            - restricted
          description: 'EN: Data sensitivity level / TH: ระดับความอ่อนไหวของข้อมูล'
        db_type:
          type: string
          enum:
            - postgres
            - mysql
          description: 'EN: Database type / TH: ประเภทฐานข้อมูล'
        host:
          type: string
          description: 'EN: Database host / TH: host ของฐานข้อมูล'
        port:
          type: integer
          minimum: 1
          description: 'EN: Database port / TH: port ของฐานข้อมูล'
        username:
          type: string
          description: 'EN: Database username / TH: username ของฐานข้อมูล'
        password:
          type: string
          description: 'EN: Database password / TH: password ของฐานข้อมูล'
        database_name:
          type: string
          description: 'EN: Database name / TH: ชื่อฐานข้อมูล'
        params:
          type: string
          nullable: true
          description: 'EN: Additional connection parameters (optional) / TH: parameter เพิ่มเติมสำหรับการเชื่อมต่อ (ไม่บังคับ)'
      required:
        - name
        - type
        - is_active
        - sensitivity
        - db_type
        - host
        - port
        - username
        - password
        - database_name
    UpdateSourcesDTO:
      type: object
      properties:
        name:
          type: string
          description: 'EN: Source name (optional) / TH: ชื่อแหล่งข้อมูล (ไม่บังคับ)'
        description:
          type: string
          nullable: true
          description: 'EN: Source description (optional) / TH: รายละเอียดแหล่งข้อมูล (ไม่บังคับ)'
        type:
          type: string
          enum:
            - jdbc
          description: 'EN: Source type (optional) / TH: ประเภทแหล่งข้อมูล (ไม่บังคับ)'
        is_active:
          type: boolean
          description: 'EN: Whether the source is active (optional) / TH: ระบุว่าแหล่งข้อมูลเปิดใช้งานอยู่หรือไม่ (ไม่บังคับ)'
        sensitivity:
          type: string
          enum:
            - public
            - internal
            - confidential
            - restricted
          description: 'EN: Data sensitivity level (optional) / TH: ระดับความอ่อนไหวของข้อมูล (ไม่บังคับ)'
        db_type:
          type: string
          enum:
            - postgres
            - mysql
          description: 'EN: Database type (optional) / TH: ประเภทฐานข้อมูล (ไม่บังคับ)'
        host:
          type: string
          description: 'EN: Database host (optional) / TH: host ของฐานข้อมูล (ไม่บังคับ)'
        port:
          type: integer
          minimum: 1
          description: 'EN: Database port (optional) / TH: port ของฐานข้อมูล (ไม่บังคับ)'
        username:
          type: string
          description: 'EN: Database username (optional) / TH: username ของฐานข้อมูล (ไม่บังคับ)'
        database_name:
          type: string
          description: 'EN: Database name (optional) / TH: ชื่อฐานข้อมูล (ไม่บังคับ)'
        params:
          type: string
          nullable: true
          description: 'EN: Additional connection parameters (optional) / TH: parameter เพิ่มเติมสำหรับการเชื่อมต่อ (ไม่บังคับ)'
        is_update_password:
          type: boolean
          description: 'EN: Whether to update the password (optional) / TH: ระบุว่าต้องการอัปเดต password หรือไม่ (ไม่บังคับ)'
        password:
          type: string
          description: 'EN: Database password (optional, required if is_update_password is true) / TH: password ของฐานข้อมูล (ไม่บังคับ แต่จำเป็นเมื่อ is_update_password เป็น true)'
    Schemas:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Schema ID / TH: รหัส schema'
        sources_id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        schema:
          type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        created_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Creation timestamp / TH: เวลาที่สร้างข้อมูล'
      required:
        - schema
    Tables:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Table ID / TH: รหัสตาราง'
        sources_id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        schema:
          type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        table_name:
          type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
        created_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Creation timestamp / TH: เวลาที่สร้างข้อมูล'
      required:
        - schema
        - table_name
    Columns:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Column ID / TH: รหัสคอลัมน์'
        sources_id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Source ID / TH: รหัสแหล่งข้อมูล'
        schema:
          type: string
          description: 'EN: Schema name / TH: ชื่อ schema'
        table_name:
          type: string
          description: 'EN: Table name / TH: ชื่อตาราง'
        column_name:
          type: string
          description: 'EN: Column name / TH: ชื่อคอลัมน์'
        data_type:
          type: string
          description: 'EN: Data type / TH: ชนิดข้อมูล'
        is_nullable:
          type: boolean
          description: 'EN: Whether the column is nullable / TH: ระบุว่าคอลัมน์เป็น null ได้หรือไม่'
        column_default:
          type: string
          nullable: true
          description: 'EN: Default value / TH: ค่า default'
        ordinal_position:
          type: integer
          nullable: true
          description: 'EN: Column position in table / TH: ลำดับคอลัมน์ในตาราง'
        created_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Creation timestamp / TH: เวลาที่สร้างข้อมูล'
      required:
        - schema
        - table_name
        - column_name
        - data_type
        - is_nullable
    Dataset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        domain:
          type: string
        owner:
          type: string
        sensitivity:
          type: string
          enum:
            - public
            - internal
            - confidential
            - restricted
        has_pii:
          type: boolean
        latest_version:
          type: string
        tags:
          type: array
          items:
            type: string
        description:
          type: string
    DatasetUpsert:
      type: object
      required:
        - id
        - name
        - domain
        - owner
        - sensitivity
        - has_pii
        - tags
        - description
      properties:
        id:
          type: string
          example: mydata
        name:
          type: string
        domain:
          type: string
        owner:
          type: string
        sensitivity:
          type: string
        has_pii:
          type: boolean
        tags:
          type: array
          items:
            type: string
        description:
          type: string
    Success:
      type: object
      properties:
        message:
          type: string
          example: success
    DatasetDetail:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        domain:
          type: string
        owner:
          type: string
        sensitivity:
          type: string
          enum:
            - public
            - internal
            - confidential
            - restricted
        has_pii:
          type: boolean
        latest_version:
          type: string
        tags:
          type: array
          items:
            type: string
        description:
          type: string
    Schema:
      type: object
      properties:
        columns:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: 'EN: Column name / TH: ชื่อคอลัมน์'
              table_name:
                type: string
                description: 'EN: Table name / TH: ชื่อตาราง'
              alias:
                type: string
                description: 'EN: Column alias (optional) / TH: alias ของคอลัมน์ (ไม่บังคับ)'
              type:
                type: string
                description: 'EN: Data type / TH: ชนิดข้อมูล'
              is_nullable:
                type: boolean
                description: 'EN: Whether the column is nullable / TH: ระบุว่าคอลัมน์เป็น null ได้หรือไม่'
              default:
                type: string
                nullable: true
                description: 'EN: Default value (optional) / TH: ค่า default (ไม่บังคับ)'
              enum:
                type: array
                items:
                  type: string
                description: 'EN: Enum values (optional) / TH: ค่า enum (ไม่บังคับ)'
            required:
              - name
              - table_name
              - type
          minItems: 1
          description: 'EN: Column definitions / TH: รายละเอียดคอลัมน์'
      required:
        - columns
    AccessPolicy:
      type: object
      properties:
        role:
          type: string
          description: 'EN: User role / TH: role ของผู้ใช้'
        scope:
          type: string
          description: 'EN: Access scope / TH: scope การเข้าถึง'
        can_view:
          type: boolean
          description: 'EN: View permission / TH: สิทธิ์ดูข้อมูล'
        can_edit:
          type: boolean
          description: 'EN: Edit permission / TH: สิทธิ์แก้ไขข้อมูล'
        can_delete:
          type: boolean
          description: 'EN: Delete permission / TH: สิทธิ์ลบข้อมูล'
        allow_view:
          type: array
          items:
            type: string
          minItems: 1
          description: 'EN: Allowed views/columns / TH: view หรือคอลัมน์ที่อนุญาต'
      required:
        - role
        - scope
        - allow_view
    FromRef:
      type: object
      required:
        - source
        - schema
        - table
      properties:
        source:
          type: string
        schema:
          type: string
        table:
          type: string
        alias:
          type: string
    Expr:
      type: object
      description: 'EN: Column reference or function call / TH: การอ้างอิงคอลัมน์หรือการเรียก function'
      properties:
        col:
          type: string
          description: 'EN: alias.column / TH: รูปแบบ alias.column'
        func:
          type: string
          enum:
            - max
            - min
            - sum
            - avg
            - count
            - coalesce
            - upper
            - lower
            - date_trunc
        args:
          type: array
          items:
            $ref: '#/components/schemas/Expr'
    BoolExpr:
      type: object
      description: 'EN: Boolean expression for joins/where (eq/and/or only) / TH: expression แบบ boolean สำหรับ join/where (รองรับเฉพาะ eq/and/or)'
      properties:
        eq:
          type: array
          minItems: 2
          maxItems: 2
          items:
            $ref: '#/components/schemas/Expr'
        and:
          type: array
          items:
            $ref: '#/components/schemas/BoolExpr'
        or:
          type: array
          items:
            $ref: '#/components/schemas/BoolExpr'
    JoinRef:
      type: object
      required:
        - type
        - source
        - schema
        - table
        - 'on'
      properties:
        type:
          type: string
          enum:
            - inner
            - left
        source:
          type: string
        schema:
          type: string
        table:
          type: string
        alias:
          type: string
        'on':
          $ref: '#/components/schemas/BoolExpr'
    Projection:
      type: object
      required:
        - as
        - expr
      properties:
        as:
          type: string
        expr:
          $ref: '#/components/schemas/Expr'
        type:
          type: string
        nullable:
          type: boolean
    WhereAllow:
      type: object
      required:
        - key
        - expr
      properties:
        key:
          type: string
        expr:
          $ref: '#/components/schemas/Expr'
        ops:
          type: array
          items:
            type: string
            enum:
              - '='
              - IN
              - '>'
              - <
              - '>='
              - <=
    OrderAllow:
      type: object
      properties:
        col:
          type: string
    QueryPlan:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/FromRef'
        joins:
          type: array
          items:
            $ref: '#/components/schemas/JoinRef'
        projections:
          type: array
          items:
            $ref: '#/components/schemas/Projection'
        group_by:
          type: array
          items:
            $ref: '#/components/schemas/Expr'
        where_allow:
          type: array
          items:
            $ref: '#/components/schemas/WhereAllow'
        order_allow:
          type: array
          items:
            $ref: '#/components/schemas/OrderAllow'
        limit_default:
          type: integer
          minimum: 1
    OwnerColumn:
      type: object
      description: 'EN: Column used for owner-based row filtering. When set, queries include WHERE {owner_column} = {token_claim_value}. / TH: คอลัมน์ที่ใช้กรองข้อมูลตาม owner โดย query จะบังคับเงื่อนไข WHERE {owner_column} = {token_claim_value}'
      required:
        - table_name
        - column
        - alias
      properties:
        table_name:
          type: string
          description: 'EN: The table that contains the owner column / TH: ตารางที่มีคอลัมน์ owner'
        column:
          type: string
          description: 'EN: The column name in the table / TH: ชื่อคอลัมน์ในตาราง'
        alias:
          type: string
          description: 'EN: Alias for the column (must match a projection alias) / TH: alias ของคอลัมน์ (ต้องตรงกับ projection alias)'
    Policies:
      type: object
      properties:
        runtime:
          type: object
          properties:
            default_view:
              type: string
              description: 'EN: Default view name / TH: ชื่อ view เริ่มต้น'
            key_field:
              type: string
              description: 'EN: Primary key field / TH: field ที่เป็น primary key'
            query:
              $ref: '#/components/schemas/QueryPlan'
            owner_column:
              $ref: '#/components/schemas/OwnerColumn'
            token_claim:
              type: string
              description: 'EN: JWT claim key whose value is used for owner filtering (e.g. sub, preferred_username). Required when owner_column is set. / TH: key ของ JWT claim ที่ใช้กรองข้อมูลตาม owner เช่น sub หรือ preferred_username และจำเป็นเมื่อกำหนด owner_column'
          required:
            - default_view
            - key_field
            - query
        views:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              properties:
                table_name:
                  type: string
                  description: 'EN: Table name / TH: ชื่อตาราง'
                columns:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  description: 'EN: Column names / TH: ชื่อคอลัมน์'
              required:
                - table_name
                - columns
          description: 'EN: View definitions / TH: รายละเอียด view'
        filters:
          type: array
          items:
            type: string
          description: 'EN: Available filters (optional) / TH: filter ที่ใช้งานได้ (ไม่บังคับ)'
        write:
          type: object
          properties:
            key_field:
              type: string
              description: 'EN: Key field for write operations / TH: field key สำหรับการเขียนข้อมูล'
            allow_edit:
              type: array
              items:
                type: string
              minItems: 1
              description: 'EN: Editable fields / TH: field ที่แก้ไขได้'
            query:
              $ref: '#/components/schemas/QueryPlan'
            owner_column:
              $ref: '#/components/schemas/OwnerColumn'
            token_claim:
              type: string
              description: 'EN: JWT claim key whose value is used for owner filtering on write. Required when owner_column is set. / TH: key ของ JWT claim ที่ใช้กรอง owner ตอนเขียนข้อมูล และจำเป็นเมื่อกำหนด owner_column'
          required:
            - key_field
            - allow_edit
            - query
          description: 'EN: Write policy (optional) / TH: policy สำหรับเขียนข้อมูล (ไม่บังคับ)'
        delete:
          type: object
          properties:
            key_field:
              type: string
              description: 'EN: Key field for delete operations / TH: field key สำหรับการลบข้อมูล'
            query:
              $ref: '#/components/schemas/QueryPlan'
            owner_column:
              $ref: '#/components/schemas/OwnerColumn'
            token_claim:
              type: string
              description: 'EN: JWT claim key whose value is used for owner filtering on delete. Required when owner_column is set. / TH: key ของ JWT claim ที่ใช้กรอง owner ตอนลบข้อมูล และจำเป็นเมื่อกำหนด owner_column'
          required:
            - key_field
            - query
          description: 'EN: Delete policy (optional) / TH: policy สำหรับลบข้อมูล (ไม่บังคับ)'
      required:
        - views
    DatasetVersion:
      type: object
      properties:
        dataset_id:
          type: string
          description: 'EN: Parent dataset ID / TH: รหัส dataset หลัก'
        version:
          type: string
          description: 'EN: Version name/number / TH: ชื่อหรือเลข version'
        source_id:
          type: string
          format: uuid
          nullable: true
          description: 'EN: Source ID (UUID) / TH: รหัสแหล่งข้อมูล (UUID)'
        status:
          type: string
          enum:
            - active
            - preview
            - deprecated
          description: 'EN: Version status / TH: สถานะของ version'
        schema:
          $ref: '#/components/schemas/Schema'
        access_policies:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicy'
          description: 'EN: Access policies for this version / TH: policy การเข้าถึงสำหรับ version นี้'
        policies:
          $ref: '#/components/schemas/Policies'
        created_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Creation timestamp / TH: เวลาที่สร้างข้อมูล'
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: 'EN: Last update timestamp / TH: เวลาที่แก้ไขข้อมูลล่าสุด'
      required:
        - dataset_id
        - version
        - status
        - schema
        - access_policies
        - policies
    InsertDatasetVersionDTO:
      type: object
      properties:
        version:
          type: string
          description: 'EN: Version name/number / TH: ชื่อหรือเลข version'
        source_id:
          type: string
          format: uuid
          description: 'EN: Source ID (UUID) / TH: รหัสแหล่งข้อมูล (UUID)'
        status:
          type: string
          enum:
            - active
            - preview
            - deprecated
          description: 'EN: Version status / TH: สถานะของ version'
        schema:
          $ref: '#/components/schemas/Schema'
        access_policies:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicy'
          minItems: 1
          description: 'EN: Access policies for this version / TH: policy การเข้าถึงสำหรับ version นี้'
        policies:
          $ref: '#/components/schemas/Policies'
      required:
        - version
        - source_id
        - status
        - schema
        - access_policies
        - policies
    UpdateDatasetVersionDTO:
      type: object
      properties:
        source_id:
          type: string
          format: uuid
          description: 'EN: Source ID (UUID) / TH: รหัสแหล่งข้อมูล (UUID)'
        status:
          type: string
          enum:
            - active
            - preview
            - deprecated
          description: 'EN: Version status / TH: สถานะของ version'
        schema:
          $ref: '#/components/schemas/Schema'
        access_policies:
          type: array
          items:
            $ref: '#/components/schemas/AccessPolicy'
          minItems: 1
          description: 'EN: Access policies for this version / TH: policy การเข้าถึงสำหรับ version นี้'
        policies:
          $ref: '#/components/schemas/Policies'
      required:
        - source_id
        - status
        - schema
        - access_policies
        - policies
    UpdateDatasetVersionStatusDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - preview
            - deprecated
          description: 'EN: New status for the dataset version / TH: สถานะใหม่ของ version dataset'
      required:
        - status
    ExportJobCreate:
      type: object
      properties:
        dataset_id:
          type: string
          description: 'EN: Dataset ID / TH: รหัส dataset'
        view:
          type: string
          description: 'EN: Optional dataset view / TH: view ของ dataset (ไม่บังคับ)'
        format:
          type: string
          enum:
            - csv
            - xlsx
          description: 'EN: Export file format / TH: รูปแบบไฟล์ export'
        version:
          type: string
          description: 'EN: Dataset version / TH: version ของ dataset'
      required:
        - dataset_id
        - format
        - version
    ExportJobStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - pending
            - in_progress
            - completed
            - failed
        dataset_id:
          type: string
        view:
          type: string
        original_filename:
          type: string
        file_size:
          type: integer
          format: int64
        format:
          type: string
          enum:
            - csv
            - xlsx
        version:
          type: string
        destination_uri:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
    ImportJobStatus:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        dataset_id:
          type: string
        version:
          type: string
        format:
          type: string
          enum:
            - csv
            - xlsx
        status:
          type: string
          enum:
            - pending
            - in_progress
            - completed
            - failed
        resource_id:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
    ReportingExportJobStatus:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        reporting_template_id:
          type: string
          format: uuid
        resource_id:
          type: string
        status:
          type: string
          enum:
            - pending
            - in_progress
            - completed
            - failed
        original_filename:
          type: string
        file_size:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        error_message:
          type: string
          nullable: true
  parameters:
    SearchWord:
      name: search_word
      in: query
      schema:
        type: string
    Domain:
      name: domain
      in: query
      schema:
        type: string
    Tag:
      name: tag
      in: query
      schema:
        type: string
    HasPII:
      name: has_pii
      in: query
      schema:
        type: boolean
    Owner:
      name: owner
      in: query
      schema:
        type: string
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Sort:
      name: sort_by
      in: query
      schema:
        type: string
        description: 'EN: Field name or -field for descending sort / TH: ชื่อ field หรือ -field เพื่อเรียงจากมากไปน้อย'
    SortOrder:
      name: sort_order
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
        description: 'EN: Sort order: ''asc'' for ascending, ''desc'' for descending / TH: ทิศทางการเรียงลำดับ: ''asc'' จากน้อยไปมาก, ''desc'' จากมากไปน้อย'
    DatasetId:
      name: id
      in: path
      required: true
      schema:
        type: string
